.page__footer {
	@include x-rem(margin, 2 auto 0);
	@include x-rem(font-size, 1.1);
	@include x-rem(max-width, 44);
	@include x-box-sizing();

	text-align: center;
	line-height: 1.2;
	font-family: $secondFont;
	color: $lightColor;

	@media (max-width: $mediaL) {
		padding: 0 2rem;
		max-width: 100%;
	}
	
	> p {
		display: inline;
		color: #fff;
	}
	
	> figure {
		display: inline-block;
		position: relative;
		top: 0.25rem;
		margin: 0;
		padding: 0;
	}

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		width: 100%;
		min-height: 3.5rem;
		background: #222;
	}
}
