.page__footer {
	max-width: 48rem;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	margin: 2rem auto 2rem auto;

	background: #fff;
	border-top: thin solid $borderColor;

	@media (max-width: $mediaL) {
		padding: 2rem;
		max-width: 100%;
	}
}
