.page__footer {
	@include x-rem(margin, 2 auto);
	@include x-rem(font-size, 1.1);
	@include x-rem(max-width, 44);
	@include x-rem(height, 15);
	@include x-rem(padding-top, 4);
	@include x-box-sizing();

	text-align: center;
	line-height: 1.2;
	font-family: $secondFont;
	color: $lightColor;

	@media (max-width: $mediaL) {
		padding: 2rem;
		max-width: 100%;
	}

	> p {
		color: #444;
		color: rgba(0, 0, 0, 0.5);
		font-weight: bold;
	}

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		width: 100%;
		min-height: 20rem;
		margin-top: -5rem;
		padding-top: 1rem;

		background: $mainColor;
		background: url('/img/footer.jpg');
		background-size: cover;
		background-position: center center;

		@media (max-width: 42em) {
			height: auto;
			background: $lightColor;
		}
	}
}
