/* page__header */

.page__header {
	@include x-box-sizing;
	@include x-rem(min-height, 15);
	@include x-rem(max-width, 48);
	@include x-rem(padding, 0 2);
	@include x-rem(margin, 2 auto 0 auto);

	position: relative;
	z-index: 10;

	a {
		color: $mainColor;
	}

	@media (max-width: $mediaS) {
		@include x-rem(padding, 0);
	}
}

.header__who {
	margin: 0 auto;
	text-align: center;
}

.header__title {
	@include x-rem(margin, 6.5 0 0 0);

	display: inline-block;
	font-family: $secondFont;
	text-decoration: none;
	text-align: center;

	img {
		$imgwidth: 7;

		@include x-rem(margin-left, -($imgwidth/2));
		@include x-rem(width, $imgwidth);

		top: 0;
		position: absolute;
		border-radius: 3px;
		border-radius: 50%;
		clip: rect(0 #{$imgwidth}rem #{($imgwidth - 0.5)}rem 0);
	}

	h1,
	h2 {
		@include x-rem(margin, 0.125 0);

		font-weight: normal;
	}

	h1 {
		@include x-rem(font-size, 1.25);

		color: $colorPositive;
	}

	h2 {
		@include x-rem(font-size, 1);

		color: #666;

		.on-dark & {
			color: $lightColor;
		}
	}
}

.header__nav {
	@include x-rem(font-size, 1);

	font-family: $secondFont;
	text-align: center;

	@media (max-width: $mediaS) {
		position: fixed;
		top: 0.5rem;
		right: 0.5rem;

		//Make it a burger menu
		> ul {
			margin: 0;
			text-align: left;

			&:before {
				content: '\2630  Menu';
				display: inline-block;
				position: fixed;
				top: 0.5rem;
				right: 0.5rem;
				padding: 0.5rem;
				background: $lightColor;
				border: thin solid $colorPositive;
				border-radius: 0.3125rem;
				text-transform: uppercase;
				cursor: pointer;
			}

			&:hover,
			&:focus,
			&:target {
				background: $lightColor;
				cursor: pointer;

				> li {
					display: block;

					> a {
						padding: 0.7rem 0.4rem 0.7rem 0.5rem;
					}
				}
			}

			> li {
				display: none;

				&:first-child {
					margin-top: 2rem;
				}

				> a {
					display: block;
					width: 8rem;
				}
			}
		}
	}

	> ul {
		@include x-rem(margin, 1 0 1 0);

		padding: 0;
		list-style: none;
	}

	> a.btn--big--positive {
		@include x-rem(margin, 0.5 auto 2 auto);

		display: inline-block;

		@media (max-width: $mediaS) {
			display: none;
		}
	}

	li {
		display: inline-block;

		> a {
			@include x-rem(margin, 0 0 0 0.15);
			@include x-rem(padding, 0.4 0.4 0.1 0.4);
			@include x-transition(border-bottom 250ms ease-in-out);

			color: $colorPositive;

			.on-dark & {
				color: $lightColor;
			}


			@media (max-width: 340px) {
				@include x-box-sizing;
				@include x-rem(padding, 0.8);
				@include x-rem(min-width, 5);

				display: inline-block;
				margin: 0;
				text-align: center;
			}

			&.anchor--positive {
				color: $colorPositive;
			}
		}
	}
}

