/* page__header */

.page__header {
	@include x-box-sizing;
	@include x-rem(min-height, 12);
	@include x-rem(max-width, 48);
	@include x-rem(padding, 0 2);
	@include x-rem(margin, 2 auto 0 auto);

	a {
		color: $mainColor;
	}
}

.header__title,
.header__nav {
	@extend %clearfix;

	@media (max-width: $mediaS) {
		float: none;
		width: 100%;
	}
}

.header__title {
	@include x-rem(margin, 0.25 0 0 0);

	float: left;
	font-family: $secondFont;
	text-decoration: none;

	@media (max-width: 46em) {
		float: none;
	}

	img {
		float: left;
		border-radius: 3px;
	}

	h1,
	h2 {
		font-weight: normal;
	}

	h1 {
		@include x-rem(margin, 0.5 0 0 5.5);
		@include x-rem(font-size, 1.25);
		color: $colorPositive;
	}

	h2 {
		@include x-rem(margin, 0 0 0 5.5);
		@include x-rem(font-size, 1);
		color: #666;
	}
}

.header__nav {
	@include x-rem(font-size, 1);

	float: right;
	font-family: $secondFont;
	text-align: right;

	@media (max-width: 46em) {
		float: none;
		text-align: left;
	}

	> ul {
		@include x-rem(margin, 1 0 1 0);

		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
		vertical-align: top;

		@media (max-width: 340px) {
			display: block;
		}

		> a {
			text-decoration: none;
			padding: 0.4rem;
			margin-left: 0.15rem;

			@media (max-width: 340px) {
				@include x-box-sizing;

				width: 100%;
				margin: 0;
			}

			&.anchor--positive {
				color: $colorPositive;
			}
		}
	}
}

