// Standard formatting

@media (max-width: 35em) {
	.page-head h1,
	.page-main > h1 {
		line-height: 1.2;
	}

	.page-head h1 {
		@include x-rem(margin-top, 1.5);
	}
}

img {
	max-width: 100%;
	height: auto;
}

.page-main a {
	color: $a-turquoise;
}


// Post list - Index view

.posts-list {
	list-style: none;
	padding: 0;
}

.posts-post {
	margin: 0.5em 0 0.5em 0;
	padding: 1.5em 1em;

	vertical-align: middle;
	background: #444;

	@media ($a-media-m) {
		display: inline-block;
		width: 27%;
		min-width: 10em;
		min-height: 10em;
	}
}

		.posts-post:nth-child(1),
		.posts-post:nth-child(2),
		.posts-post:nth-child(3), {
			background: #222;

			a {
				color: $a-pink;
			}
		}

	.post__time {
		font-size: 1em;

		color: $a-bright;
	}

	.post__title {
		margin: 0.25em 0 0.5em 0;
		font-weight: normal;

		a {
			text-decoration: none;
			border-bottom: thin solid $a-mid;
			padding-bottom: 0;
		}
	}

.posts-pagination {
	@include page--font-header;
	list-style: none;

	> li {
		display: inline;

		color: $a-mid;

		> a {
			color: $a-pink;
		}
	}
}

	.page-main > .posts-pagination {
		padding-left: 0;
	}

// Standard pages

.page-main > h2 {
	font-weight: normal;
	color: $a-pink;
}

.page-main p > img {
	display: block;
	max-width: 100%;

	@media ($a-media-m) {
		float: left;
		padding: 0.25em 1em 1.5em 0;
		max-width: 15em;
	}
}

.page-main > .work--list,
.work--list,
.page--gallery {
	list-style: none;
	padding-left: 0;
}

.work--list > li {
	@extend %clearfix;

	@media ($a-media-m) {
		float: left;
		min-width: 10em;
		width: 33.3%;
		height: 10em;
		-moz-box-sizing: border-box;
		     box-sizing: border-box;

		vertical-align: middle;
		border: 1px solid $background;
		background: #222;
		overflow: hidden;
	}

	> a{
		width: 100%;
		height: 100%;
		display: block;
	}

	img {
		width: 100%;
		max-width: auto;
		min-height: 100%;
		-webkit-filter: grayscale(1);
		filter: grayscale(1);

		-webkit-transition: all ease-in-out 0.5s;
		-moz-transition: all ease-in-out 0.5s;
		-ms-transition: all ease-in-out 0.5s;
		transition: all ease-in-out 0.5s;

		@media (max-width: 35em) {
			min-height: 0;
			height: auto;
		}

		&:hover {
			-webkit-filter: grayscale(0);
			filter: grayscale(0);
		}
	}
}

.page--gallery {
	/*@media ($a-media-l) {
		position: absolute;
		left: 5vw;
		width: 90vw;
		height: auto;

		> li {
			height: 15em;
		}
	}*/
}

	.work--oss {
		position: relative;
	}

	@media ($a-media-m) {
		.work--oss:after {
			position: absolute;
			right: -3.5em;
			top: 1em;
			display: block;
			width: 10em;
			height: 2em;
			padding-top: 0.4em;
			padding-left: 4em;

			background: $a-turquoise;
			color: #fff;
			font-size: 0.6em;
			@include page--font-header;
			content: 'Open Source' !important;
			-webkit-transform: rotate(30deg);
		}
	}



