
.wrapper {

	@media (max-width: 64em) {
		padding: 0 0.5em 0 0.5em;
		-moz-box-sizing: border-box;
		     box-sizing: border-box;
	}

	@media ($a-media-m) {
		max-width: 50em;
		margin: 2em auto 0 auto;
	}

	&:before {
		@include x-multiple-colored-gradient(( "left", #78cfc6 0%, #78cfc6 25%, #ffb300 25%, #ffb300 50%, #e01b6a 50%, #e01b6a 75%, #111 75% ));

		display: block;
		width: 100%;
		height: 0.5em;
	}
}

.page-main {
	@extend %clearfix;

	line-height: 1.5;
}

.page-main > p {
	@include x-hyphen();

	&:first-child {
		@include x-rem(font-size, 1.5);
	}
}

.page-main p,
.page-main li {
	@include x-rem(max-width, 40);
}

.page-main > ul,
.page-main > ol {
	padding: 0 0 0 1em;
}

.page-aside {
	@extend %clearfix;
	@include x-rem(padding, 1 1 0.25 1);

	background: $a-turquoise;

	line-height: 1.5;
	color: #fff;

	> ul {
		list-style: none;
		padding: 0;

		> li {

		}
	}

	a, a:hover, a:visited {
		color: $a-bright;
	}

	.aside--profile-picture {

	}
}

.page-foot {
	//@include x-rem(font-size, 1);

	clear: both;
	color: $a-mid;

	a, a:hover, a:visited {
		color: $a-mid;
	}
}