---
layout: default
title: "Home"
---

<h1 class="visuallyhidden">Anselm Hannemann &ndash; HTML5, CSS, front-end architecture, performance and Digital Publishing&hellip;</h1>

<section class="involvement">
	<h2>Work I am involved in</h2>

	<ul>
		<li>
			<a href="http://dpunkt.de/buecher/4213/adobe-digital-publishing-suite.html"><img src="http://img.anselmhannemann.netdna-cdn.com/img/work/dpunkt-dps-book.jpg" alt="Book cover Adobe Digital Publishing Suite"></a>
			<h3>Adobe Digital Publishing Suite Book</h3>
		</li>
		<li>
			<a href="http://opendevicelab.com/"><img src="http://img.anselmhannemann.netdna-cdn.com/img/work/odl-logo.svg" alt="Logo of Open Device Labs"></a>
			<h3>Open Device Labs</h3>
		</li>
		<li>
			<a href="http://responsiveimages.org/"><img src="http://img.anselmhannemann.netdna-cdn.com/img/work/ricg-icon--red.svg" alt="Logo of the Responsive Images Community Group showing media query rectangles"></a>
			<h3>Responsive Images Community Group</h3>
		</li>
		<li>
			<a href="http://wdrl.helloanselm.com/"><img src="http://img.anselmhannemann.netdna-cdn.com/img/work/wdrl-logo.svg" alt="Logo of the web dev reading list showing a circle and WDRL text"></a>
			<h3>Web Dev Reading List</h3>
		</li>
		<li>
			<a href="http://pubkon.eu/"><img src="http://img.anselmhannemann.netdna-cdn.com/img/work/PUBKON_13.svg" alt="Logo of the PUBKON conference containing fancy rounded rectangles"></a>
			<h3>PUBKON Conference</h3>
		</li>
		<li>
			<a href="http://use-init.com/"><img src="http://img.anselmhannemann.netdna-cdn.com/img/work/init.svg" alt="Logo of INIT"></a>
			<h3>INIT Framework</h3>
		</li>
	</ul>
</section>

<section class="posts" id="blog">
	<h2>Latest Articles</h2>
    <ul class="posts__list">
        {% for post in paginator.posts %}
        <li class="posts__post">
            <span class="post__time">{{ post.date | date: "%d %B, %Y" }}</span>
            <h2 class="post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </li>
        {% endfor %}
    </ul>
</section>

<ol class="nav  posts__pagination">
    <li class="pagination__prev">
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="/">Previous</a>
        {% else %}
            <a href="/page{{paginator.previous_page}}">Previous</a>
        {% endif %}
        {% else %}
            Previous
        {% endif %}
    </li><!--

 --><li class="pagination__next">
        {% if paginator.next_page %}
            <a href="/page{{paginator.next_page}}">Next</a>
        {% else %}
            Next
        {% endif %}
    </li>
</ol>
