---
layout: default
title: "Home"
---

<h1>I’m a freelance front-end developer and architect.</h1>
<p>I create well crafted front-end experiences with strong focus on performance and maintainability. I’m based in Munich, Germany and <a href="/hire/">I am happy to chat with you about working together</a>.</p>

<section class="involvement">
	<h2>Side Projects I do</h2>

	<ul>
		<li>
			<a href="http://wdrl.info/"><img src="//img-anselmhannemann.netdna-ssl.com/img/work/wdrl-logo.svg" alt="Logo of the web dev reading list showing a circle and WDRL text"></a>
			<h3>Web Development Reading List &ndash; a weekly digest.</h3>
		</li>
		<li>
			<a href="http://use-init.com/"><img src="//img-anselmhannemann.netdna-ssl.com/img/work/init.svg" alt="Logo of INIT"></a>
			<h3>INIT Grunt Automatisation Framework</h3>
		</li>
		<li>
			<a href="http://responsiveimages.org/"><img src="//img-anselmhannemann.netdna-ssl.com/img/work/ricg-icon--red.svg" alt="Logo of the Responsive Images Community Group showing media query rectangles"></a>
			<h3>Responsive Images Community Group</h3>
		</li>
		<li>
			<a href="http://nightlybuild.io/"><img src="//img-anselmhannemann.netdna-ssl.com/img/work/nightlybuildio.svg" alt="Logo of the NightlyBuild.io conference showing an illustrated owl and the title"></a>
			<h3>NightlyBuild.io Front-End Development Conference</h3>
		</li>
		<li>
			<a href="http://pubkon.eu/"><img src="//img-anselmhannemann.netdna-ssl.com/img/work/PUBKON.png" alt="Logo of the PUBKON conference containing fancy rounded rectangles"></a>
			<h3>PUBKON Publishing Conference</h3>
		</li>
		<li>
			<a href="http://workingdraft.de/"><img src="//img-anselmhannemann.netdna-ssl.com/img/work/workingdraft.png" alt="Logo of the Workingdraft podcast"></a>
			<h3>Workingdraft Podcast</h3>
		</li>
		<li>
			<a href="http://opendevicelab.com/"><img src="//img-anselmhannemann.netdna-ssl.com/img/work/odl-logo.svg" alt="Logo of Open Device Labs"></a>
			<h3>opendevicelab.com</h3>
		</li>
<!-- 		<li>
			<a href="http://dpunkt.de/buecher/4213/adobe-digital-publishing-suite.html"><img src="//img-anselmhannemann.netdna-ssl.com/img/work/dpunkt-dps-book.jpg" alt="Book cover Adobe Digital Publishing Suite"></a>
			<h3>Adobe DPS Book</h3>
		</li>
 -->	</ul>
</section>

<section class="posts" id="blog">
	<h2>Latest Articles</h2>
	<ul class="posts__list">
		{% for post in paginator.posts %}
		<li class="posts__post">
			<h2 class="post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<date class="post__time">{{ post.date | date: "%d %B, %Y" }}</date>
		</li>
		{% endfor %}
	</ul>
</section>

<ol class="nav posts__pagination">
	<li class="pagination__prev">
		{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a href="/">Previous</a>
		{% else %}
			<a href="/page{{paginator.previous_page}}/">Previous</a>
		{% endif %}
		{% else %}
			Previous
		{% endif %}
	</li>  |  <li class="pagination__next">
		{% if paginator.next_page %}
			<a href="/page{{paginator.next_page}}/">Next</a>
		{% else %}
			Next
		{% endif %}
	</li>
</ol>
