<aside class="availability">

<h3>My availability in 2015:</h3>

<dl>

<dt title="January 2015">1</dt>
<dd data-available="0">Not available</dd>

<dt title="February 2015">2</dt>
<dd data-available="1">Some days left</dd>

<dt title="March 2015">3</dt>
<dd data-available="1">Some days left</dd>

<dt title="April 2015">4</dt>
<dd data-available="1">Some days left</dd>

<dt title="May 2015">5</dt>
<dd data-available="2">Available</dd>

<dt title="June 2015">6</dt>
<dd data-available="2">Available</dd>

<dt title="July 2015">7</dt>
<dd data-available="2">Available</dd>

<dt title="August 2015">8</dt>
<dd data-available="0">Not available</dd>

<dt title="September 2015">9</dt>
<dd data-available="1">Some days left</dd>

<dt title="October 2015">10</dt>
<dd data-available="2">Available</dd>

<dt title="November 2015">11</dt>
<dd data-available="2">Available</dd>

<dt title="December 2015">12</dt>
<dd data-available="1">Some days left</dd>

</dl>

</aside>
