	<footer class="footer">
		<h4>Contact / Follow me</h4>

		<dl class="footer__links">
			<dt>Twitter</dt>
			<dd><a rel="me" href="https://twitter.com/helloanselm" class="twitter-follow-button" data-show-count="false" data-lang="en">@helloanselm</a></dd>

			<dt>E-Mail</dt>
			<dd><a href="mailto:hello@helloanselm.com?subject=I%20came%20across%20your%20website%20and%20wanted%20to%20talk%20to%20you">hello@helloanselm.com</a></dd>

			<dt>GitHub</dt>
			<dd><a href="https://github.com/anselmh/">anselmh</a></dd>

			<dt>Lanyrd</dt>
			<dd><a href="http://lanyrd.com/profile/anselmhannemann/">anselmhannemann</a></dd>

			<dt>RSS Feed</dt>
			<dd><a href="https://helloanselm.com/atom.xml">Subscribe to this RSS Feed</a></dd>

			<dt>Legal</dt>
			<dd><a href="/legal/">&copy;2014 Anselm Hannemann. <br>Terms and Conditions may apply. <br>See my legal information here.</a></dd>
		</dl>

		<h4>Thanks to my Partners</h4>

		<ul class="footer__partners">
			<li>
				<a href="https://maxcdn.com/" target="_blank">
					MaxCDN
				</a>
			</li>
			<li>
				<a href="https://github.com/" target="_blank">
					GitHub
				</a>
			</li>
			<li>
				<a href="http://use-init.com/" target="_blank">
					INIT
				</a>
			</li>
		</ul>
	</footer>

	<!-- Main script -->
	<script src="//img-anselmhannemann.netdna-ssl.com/js/main.min.js"></script>
	<!-- Piwik Analytics -->
	<script>
		var _paq = _paq || [];
		_paq.push(["trackPageView"]);
		_paq.push(["enableLinkTracking"]);

		(function() {
			var u="//anselm.taurus.uberspace.de/piwik/";
			_paq.push(["setTrackerUrl", u+"piwik.php"]);
			_paq.push(["setSiteId", "1"]);
			var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
			g.defer=true; g.async=true; g.src="//img-anselmhannemann.netdna-ssl.com/js/piwik.js"; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<noscript><p><img src="//anselm.taurus.uberspace.de/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
	<!-- Twitter -->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//img-anselmhannemann.netdna-ssl.com/js/platform.twitter.com.widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>
