/* Buttons */

$colorPositiveBg: #019875;
$colorPositiveBg: #9B2335;
$colorPositiveTxt: #fff;

.btn {
	font-family: $secondFont;
	padding: 0.25rem;
	text-decoration: none;
}

.btn--big {
	font-family: $secondFont;
	padding: 1rem;
	text-decoration: none;
}

.btn--big--positive {
	@include x-rem(padding, 0.8 2.4);
	font-family: $secondFont;
	// padding: 0.6rem 1.5rem;
	background: $colorPositiveBg;
	color: $colorPositiveTxt;
	text-decoration: none;
}
