/* Buttons */

$colorPositiveBg: #019875;
$colorPositiveTxt: #fff;

.btn {
	font-family: $secondFont;
	padding: 0.25rem;
	text-decoration: none;
}

.btn--big {
	font-family: $secondFont;
	padding: 1rem;
	text-decoration: none;
}

.btn--big--positive {
	font-family: $secondFont;
	padding: 1rem;
	background: $colorPositiveBg;
	color: $colorPositiveTxt;
	text-decoration: none;
}
