/* Buttons */

%btn {
	padding: 0.25em;
	font-family: $secondFont;
	text-decoration: none;
	border-radius: 2px;
}

%btn--big {
	padding: 1em;
	font-family: $secondFont;
	text-decoration: none;
	border-radius: 2px;
}

a.btn--big--positive,
.hire-info__button {
	@extend %btn;
	@include x-transition(all 250ms ease-in-out);

	padding: 0.8em 2.4em;
	background: $colorPositive;
	color: $lightColor;

	&:hover {
		text-decoration: underline;
		background: darken($colorPositive, 10%);
	}

	&:active,
	&:focus {
		background: darken($colorPositive, 10%);
		border: thin dotted $colorPositive;
	}
}
