/* Buttons */

%btn {
	font-family: $secondFont;
	padding: 0.25rem;
	text-decoration: none;
}

%btn--big {
	font-family: $secondFont;
	padding: 1rem;
	text-decoration: none;
}

.btn--big--positive {
	@extend %btn;
	@include x-rem(padding, 0.8 2.4);

	background: $colorPositiveBg;
	color: $colorPositiveTxt;
}
