/**
 * Module: Header.scss
 */

.header {
	position: relative;
	z-index: 20;
	min-height: 8em;
	margin: 0 auto 2em auto;
	padding: 1em 2em 0;
}

.header__profile {
	margin: 4em auto 0;
	text-align: center;
}

.header__profile > a {
	display: inline-block;
	margin: 6.5rem 0 0 0;
	font-family: $secondFont;
	text-decoration: none;
	text-align: center;

	> img {
		$imgwidth: 7;

		margin-left: #{-($imgwidth/2)}rem;
		width: #{$imgwidth}rem;

		top: 4em;
		position: absolute;
		border-radius: 2px;
		border-radius: 50%;
		clip: rect(0 #{$imgwidth}rem #{($imgwidth - 0.5)}rem 0);
	}

	> h1,
	> h2 {
		margin: 0.025em 0;
		font-weight: normal;
	}

	> h1 {
		@include x-rem(font-size, 2.25);

		margin-top: 0.5rem;
		color: $mainColor;
	}

	> h2 {
		@include x-rem(font-size, 1.05);

		color: $mainColor;
		border-bottom: 0;

		.on-dark & {
			color: $lightColor;
		}
	}
}
