/**
 * Module: Navigation.scss
 */

.header__nav {
	@include x-rem(font-size, 1);

	font-family: $secondFont;
	text-align: center;

	&.is-narrow {
		ul {
			display: none;
		}

		&.is-expanded {
			ul {
				display: block;
			}

			li {
				display: block;

				a {
					@include x-rem(padding, 0.8);

					display: block;
					width: 100%;
				}
			}
		}

		.nav__toggle {
			display: inline;
			padding: 0.5rem 0.5rem 0.5rem 0.5rem;
			border: thin solid $colorPositive;
			border-radius: 2px;
			cursor: pointer;

			&:after {
				position: relative;
				top: 0.4rem;
				font-size: 2em;
				content: ' \2261';
			}
		}
	}

	.nav__toggle {
		display: none;
	}

	> ul {
		@include x-rem(margin, 1 0 1 0);

		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;

		> a {
			@include x-rem(margin, 0 0 0 0.15);
			@include x-rem(padding, 0.4 0.4 0.1 0.4);
			@include x-transition(border-bottom 250ms ease-in-out);

			color: $colorPositive;

			.on-dark & {
				color: $lightColor;
			}

			&.anchor--positive {
				color: $colorPositive;
			}
		}
	}
}
