<!DOCTYPE html>
<html lang="en" class="no-js  page  {{ page.page-class }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0">
	<meta name="description" content="Articles on HTML5, CSS, front-end architecture, performance and Digital Publishing.">

	<link rel="alternate" type="application/rss+xml" title="Anselm Hannemann (Feed)" href="http://helloanselm.com/atom.xml">

	<link rel="dns-prefetch" href="//helloanselm.com">
	<link rel="dns-prefetch" href="//img.anselmhannemann.netdna-cdn.com">
	<link rel="dns-prefetch" href="//use.typekit.net">
	<link rel="dns-prefetch" href="//anselm.uberspace.de">

	<title>{{ page.title }} &ndash; Anselm Hannemann &ndash; HTML5, CSS, front-end architecture, performance and Digital Publishing</title>

	<script type="text/javascript">
		(function() {
			var config = {
				kitId: 'ryx7jcg',
				scriptTimeout: 3000
			};
			var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
		})();
	</script>

	<link rel="stylesheet" href="http://img.anselmhannemann.netdna-cdn.com/css/main.css?v=2.1">
</head>
<body>
	<!--[if lt IE 10]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!-- Hidden preload `div` to fetch images before CSS needs them. -->
	<div class="ಠ_ಠ">
		<img src="http://img.anselmhannemann.netdna-cdn.com/img/balcony-sunset--darkened.jpg">
	</div>

	<header class="page__header">
		<div class="page__header--wrapper">
			<a class="page__header__title" href="/">
				<h1>Anselm Hannemann</h1>
				<h2>Freelance Web Developer, Speaker, Event organizer</h2>
			</a>

			<nav class="page__header__nav" role="navigation">
				<ul>
					<li><a href="/#blog">Blog</a></li>
					<li><a href="/about/">About</a></li>
					<li><a href="/work/">Work</a></li>
					<li><a href="/open/">Open</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul>
			</nav>
		</div>

		<div class="page__header__action">
			<h2>You need high quality frontend web development?<br>Or a digital magazine?</h2>
			<hr>
			<p><a class="btn--big--positive" href="/contact/">Hire me!</a></p>
		</div>

	</header>

	<main class="page__main" role="main">

		{{ content }}

	</main>

	<footer class="page__footer">
		<p>Hi there, I’m Anselm &mdash; a 23 year old <b>designer</b>, <b>developer</b>, <b>writer</b> and <b>speaker</b> from Germany; I work as a freelancer. I <a href="/open/">write</a>, <a href="http://twitter.com/helloanselm">tweet</a>, <a href="http://lanyrd.com/profile/anselmhannemann/">speak</a> and <a href="http://github.com/anselmh">share code</a> about HTML5, CSS3 techniques and various other stuff.</p>

		<ul class="page__footer__follow">
			<li><a href="https://twitter.com/helloanselm">Follow @helloanselm</a> on Twitter</li>
			<li><a href="https://alpha.app.net/anselm">Follow @anselm</a> on ADN</li>
		</ul>

		<p>&copy; 2013 <a href="http://alpha.app.net/anselm">Anselm Hannemann</a>.
		   The source code of this blog is <a href="https://github.com/anselmh/anselmh.github.com">hosted on GitHub</a>. The site is supported by <a href="http://www.maxcdn.com/">MaxCDN</a> – a great CDN for your static files. Thanks a bunch for sponsoring!<br>
		   You should <a href="http://helloanselm.com/atom.xml">grab the RSS feed</a> and <a href="https://twitter.com/helloanselm">follow me on Twitter</a>.</p>
		<p>This site is under my <a href="/tos/">Terms of Service</a>. All commercial work / projects are based on the individual project contract and the ToS. <a href="/legal/">Go to legal notices</a></p>
	</footer>

	<script>
		var _paq = _paq || [];
		(function(){ var u=(("https:" == document.location.protocol) ? "https://anselm.taurus.uberspace.de/piwik/" : "http://anselm.taurus.uberspace.de/piwik/");
		_paq.push(['setSiteId', 1]);
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.defer=true; g.async=true; g.src=u+'piwik.js';
		s.parentNode.insertBefore(g,s); })();
	</script>
	<noscript><p><img src="http://anselm.taurus.uberspace.de/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
</body>
</html>
