<!DOCTYPE html>
<html lang="en" class="no-js  page  {{ page.page-class }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0">
	<meta name="description" content="Articles on HTML5, CSS, front-end architecture, performance and Digital Publishing.">

	<link rel="dns-prefetch" href="//helloanselm.com">
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//anselm.uberspace.de">
	<link rel="dns-prefetch" href="//ajax.googleapis.com">

	<title>{{ page.title }} &ndash; Anselm Hannemann &ndash; HTML5, CSS, front-end architecture, performance and Digital Publishing</title>

	<script type="text/javascript">
		WebFontConfig = {
			google: { families: [ 'Istok+Web:400,700:latin' , 'Lora:400,700:latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();
	</script>

	<link rel="stylesheet" href="/css/main.css">

	<script src="/js/vendor/modernizr-2.6.2.js"></script>
</head>
<body>
	<!--[if lt IE 10]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->

	<!-- Hidden preload `div` to fetch images before CSS needs them. -->
	<div class="ಠ_ಠ">

	</div>

	<div class="wrapper">

		<header class="page-head">

			<a href="/">
				<h1>Anselm Hannemann</h1>
				<h2>Freelance Web Developer, Speaker, Event organizer</h2>
			</a>

			<nav class="page-nav" role="navigation">
				<ul>
					<li><a href="/">Blog</a></li>
					<li><a href="/about/">About</a></li>
					<li><a href="/work/">Work</a></li>
					<li><a href="/contact/">Contact</a></li>
					<!-- <li><a href="/talks/">Talks</a></li>
					<li><a href="/tests/">Tests</a></li> -->
				</ul>
			</nav>

		</header>

		<main class="page-main" role="main">

			{{ content }}

		</main>

		<aside class="page-aside">

			<div class="aside--profile-picture" data-picture data-alt="Portrait of Anselm Hannemann outdoor">
				<div data-src="/img/anselmhannemann.jpg"></div>
				<div data-src="/img/anselmhannemann.jpg" data-media="(min-width: 1000px)"></div>
				<noscript>
					<img src="/img/anselmhannemann.jpg" alt="Portrait of Anselm Hannemann outdoor">
				</noscript>
			</div>

			<p>Hi there, I’m Anselm. I am a 23 year old <b>designer</b>, <b>developer</b>, <b>writer</b> and <b>speaker</b> from germany; I work as a freelancer. I <a href="/">write</a>, <a href="http://twitter.com/helloanselm">tweet</a>, <a href="http://lanyrd.com/profile/anselmhannemann/">speak</a> and <a href="http://github.com/anselmh">share code</a> about HTML5, CSS3 techniques and various other stuff.</p>

			<ul class="aside-followme">
				<li><a href="https://twitter.com/helloanselm">Follow @helloanselm</a> on Twitter</li>
				<li><a href="https://alpha.app.net/anselm">Follow @anselm</a> on ADN</li>
			</ul>

		</aside>

		<footer class="page-foot">
			<p>&copy; {{ 'now' | date: "%Y" }} <a href="http://alpha.app.net/anselm">Anselm Hannemann</a>.
			   The source code of this blog is <a href="https://github.com/anselmh/anselmh.github.com">hosted on GitHub</a>.<br>
			   You should <a href="">grab the RSS feed</a> and <a href="https://twitter.com/helloanselm">follow me on Twitter</a>.</p>
			<p>This site is under my <a href="/tos/">Terms of Service</a>. All commercial work / projects are based on the individual project contract and the ToS. <a href="/legal/">Go to legal notices</a></p>
		</footer>
	</div>

	<script>
		var _paq = _paq || [];
		(function(){ var u=(("https:" == document.location.protocol) ? "https://anselm-hannemann.com/piwik/" : "http://anselm-hannemann.com/piwik/");
		_paq.push(['setSiteId', {1}]);
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.defer=true; g.async=true; g.src=u+'piwik.js';
		s.parentNode.insertBefore(g,s); })();
	</script>
	<noscript><p><img src="http://anselm-hannemann.com/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
</body>
</html>
