/**
 * Variables to be used throughout the project
 */

// Text Color
$mainColor: #111;
$lightColor: #fff;
$colorPositive: #019875;

$borderColor: #ccc;

// Fonts and Font related things
$mainFont: 'Calluna', Georgia, 'Times New Roman', serif;
$secondFont: 'Calluna-Sans', 'Calibri', Arial, sans-serif;
$initialFontSize: 1.3125em; /* =21px */

// Media Queries
$mediaXS: 20em;
$mediaS: 35em;
$mediaM: 45em;
$mediaL: 70em;
