/**
 * Variables to be used throughout the project
 */

// blue: #00A9CE (more ancient) or #00a5e0 (bright)

// Text Color
$mainColor: #111;
$lightColor: #fff;
// green: $colorPositive: #019875;
// red: $colorPositive: #9B2335;
// red: $colorPositiveBg: #019875;
// red: $colorPositiveBg: #9B2335;
$colorPositive: #00a5e0; // blue
$colorPositiveBg: $colorPositive;
$colorPositiveBg: $colorPositive;

$colorPositiveTxt: #fff;
$borderColor: #ccc;



// Fonts and Font related things
$mainFont: 'Calluna', Georgia, 'Times New Roman', serif;
$secondFont: 'Calluna-Sans', 'Calibri', Arial, sans-serif;
$initialFontSize: 1.3125em; /* =21px */

// Media Queries
$mediaXS: 20em;
$mediaS: 35em;
$mediaM: 45em;
$mediaL: 70em;
